.menuMobile {
    position: absolute;
    top: 0;
    left: -100%;
    width: 150px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    transition: all 800ms ease;
   
}

.menuMobile.open {
    left: 0%;
}

.btnMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}