.container {
    display: flex;
    flex-flow: row wrap-reverse;
    
    background: silver;
}

.caixa {
    width: 350px;
    height: 150px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}