.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 600px;
    /*flex-flow: row wrap-reverse;*/
    
    background: silver;
}

.caixa {
    width: 150px;
    height: 150px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}