.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    height: 600px;
    /*flex-flow: row wrap-reverse;*/
    
    background: silver;
}

.caixa {
    width: 150px;
    height: 150px;
}

.red {
    align-self: center;
    background-color: red;
}

.green {
    align-self: flex-end;
    background-color: green;
}

.yellow {
    align-self: center;
    background-color: yellow;
}

.blue {
    flex-grow: 2;
    background-color: blue;
}